import(zoo)
import(dplyr)
import(ggplot2)
import(ggforce)
import(scales)
import(tidyr)
import(ggpubr)
import(shiny)
import(base64enc)
import(jpeg)
import(patchwork)
import(magick)
#import(plotly)
importFrom("stats", "kmeans", "median", "offset", "sd", "setNames")
importFrom("utils", "tail")
importFrom("plotly", "ggplotly", "plot_ly", "renderPlotly", "plotlyOutput", "layout", "config", "add_trace")
exportPattern("^[[:alpha:]]+")
